<!DOCTYPE html>
<html>
  <head>
    <title>错误列表</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
   	<script type="text/javascript" src="/javascripts/jquery-1.11.2.min.js"></script>
  </head>
  <body>
    <h1>错误列表</h1>
    <!-- <div id="tdata" data= <%= message %></div> -->
    <table id="tbody" border="1" width="80%" align="center" style="table-layout: fixed">
    	<thead>
	    	<tr>
	    		<th width="50px">ID</th>
	    		<th width="40">游戏ID</th>
	    		<th width="100px">平台</th>
	    		<th width="100px">时间</th>
	    		<th>错误</th>
	    		<th width="70px">删除</th>
	    	</tr>
	    </thead>
	    <tbody></tbody>
    </table>
  </body>


<script type="text/javascript">

	var page = '<%= page %>' 

	function getLocalTime(nS) {     
	   return new Date(parseInt(nS)).toLocaleString().replace(/:\d{1,2}$/,' ');     
	}  

	function deleteData(did){
		window.location.href = "?page="+ page +"&deleteid="+did;
	}

	function drawTable(list){  
	    console.log(list);
	    var dom=$("tbody");
	    var dname = ["id","gameid","platform","time","error"];
	    $.each(list,function(i,item){

		    var str="";
		    str='<tr>'
	    	$.each(dname,function(j,jtem){
	    		if(jtem=="time"){
	    			item[jtem]=getLocalTime(item[jtem]);
	    		}
	    		str+='<td>'+item[jtem]+'</td>';	    		
	    	})
	    	str+='<td><button class="delete_btn" data-id='+item.id+'>deldete</button></td>'
	    	
		    str+='</tr>';
		    dom.append(str);
	    })

	    $('.delete_btn').click(function(){
			var id = $(this).attr("data-id");
			deleteData(id);
		})
 
	} 

	var data = decodeURI('<%= message %>');
	var d =JSON.parse(data);
	drawTable(d);
			
</script>

</html>
