*{margin: 0;padding: 0;}
body {
  /*padding: 50px;*/
  font-size: 18px;
  font-family:  "Microsoft Yahei", Helvetica, Arial, sans-serif;
  background-color: rgb(204, 232, 207)
}

h1{
	text-align: center;
}

a {
  color: #00B7FF;
}

td {
	word-break:break-all;
}

.delete_btn {
	padding: 0 10px;
	height: 25px;
}